/NetbeansProjects/TestBed/nbproject/private/
/NetbeansProjects/TestBed/build/
/NetbeansProjects/MyHouse/nbproject/private/
/NetbeansProjects/MyHouse/build/
/NetbeansProjects/IndividualProject/nbproject/private/
/NetbeansProjects/oop/nbproject/private/
/NetbeansProjects/oop/build/
/NetbeansProjects/bankaccount/nbproject/private/
/NetbeansProjects/bankaccount/build/
/NetbeansProjects/StringPlay/nbproject/private/
/NetbeansProjects/StringPlay/build/
/NetbeansProjects/Lesson11Exercises/nbproject/private/
/NetbeansProjects/Lesson11Exercises/build/
/NetbeansProjects/Lesson11Exercises/dist/
/NetbeansProjects/ValidNumber/nbproject/private/
/NetbeansProjects/ValidNumber/build/
/NetbeansProjects/FamilyAndPets/nbproject/private/
/NetbeansProjects/FamilyAndPets/build/
/NetbeansProjects/FamilyAndPets/dist/
/NetbeansProjects/kothar10/nbproject/private/
/NetbeansProjects/kothar10/build/
/NetbeansProjects/kothar10/dist/
/NetbeansProjects/IndividualProject/build/
/NetbeansProjects/IndividualProject/dist/
/NetbeansProjects/Shapes/nbproject/private/
/NetbeansProjects/Shapes/build/
/NetbeansProjects/Shapes/dist/
/NetbeansProjects/Employee/nbproject/private/
/NetbeansProjects/Employee/build/
/NetbeansProjects/Employee/dist/
/NetbeansProjects/Collections/nbproject/private/
/NetbeansProjects/Collections/dist/
/NetbeansProjects/Collections/build/
/NetbeansProjects/bootcampproject/nbproject/private/
/NetbeansProjects/BootCamp/nbproject/private/
/NetbeansProjects/BootCamp/build/
/NetbeansProjects/BootCamp/dist/
/NetbeansProjects/LordOfTheRings/nbproject/private/
/NetbeansProjects/LordOfTheRings/build/
/NetbeansProjects/LordOfTheRings/dist/
/NetbeansProjects/FTJV15Exercise3/nbproject/private/
/NetbeansProjects/FTJV15Exercise3/build/
/NetbeansProjects/FTJV15Exercise3/dist/
/NetbeansProjects/InterCompar/nbproject/private/
/NetbeansProjects/InterCompar/build/
/NetbeansProjects/InterCompar/dist/
/NetbeansProjects/deepOrShallow/nbproject/private/
/NetbeansProjects/TestPlay/nbproject/private/
/NetbeansProjects/TestPlay/build/
/NetbeansProjects/IndProject/nbproject/private/
/NetbeansProjects/IndProjectA/nbproject/private/
/NetbeansProjects/IndProjectA/build/
/NetbeansProjects/IndProjectA/dist/
/NetbeansProjects/KinoProject/nbproject/private/
/NetbeansProjects/KinoProject/build/
/NetbeansProjects/KinoProject/dist/
